Repository AaronSosaRamos/ai-code-ds-assistant-frontend, pull requests merged in 2024-08, with the labels that each got.

#1 initial setup
  .eslintrc.json
  .gitignore
  README.md
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/page.tsx
  next.config.mjs
  package-lock.json
  package.json
  postcss.config.mjs
  public/next.svg
  public/vercel.svg
  tailwind.config.ts
  tsconfig.json
Labels: enhancement, help wanted, good first issue

#2 new navbar and footer
  app/components/Footer.tsx
  app/components/Navbar.tsx
  app/globals.css
  app/layout.tsx
  app/page.tsx
  package-lock.json
  package.json
  tailwind.config.ts
Labels: enhancement, help wanted, good first issue

#3 new linked-lists section imp.
  app/data-structures/linked-lists/components/DoublyCircularLinkedList.tsx
  app/data-structures/linked-lists/components/DoublyLinkedList.tsx
  app/data-structures/linked-lists/components/SinglyCircularLinkedList.tsx
  app/data-structures/linked-lists/components/SinglyLinkedList.tsx
  app/data-structures/linked-lists/page.tsx
  app/layout.tsx
  app/page.tsx
  components/Footer.tsx
  components/Navbar.tsx
  package-lock.json
  package.json
  tailwind.config.ts
Labels: enhancement, good first issue

#4 new stacks section imp.
  app/data-structures/linked-lists/page.tsx
  app/data-structures/stacks/components/Stack.tsx
  app/data-structures/stacks/page.tsx
  package-lock.json
  package.json
Labels: enhancement, good first issue

#6 new queues section imp.
  app/data-structures/queues/components/Deque.tsx
  app/data-structures/queues/components/PriorityQueue.tsx
  app/data-structures/queues/components/SimpleQueue.tsx
  app/data-structures/queues/page.tsx
Labels: enhancement, help wanted, good first issue, data-structures

#10 new arrays section imp.
  app/data-structures/arrays/components/Array.tsx
  app/data-structures/arrays/components/Matrix.tsx
  app/data-structures/arrays/components/Tensor.tsx
  app/data-structures/arrays/page.tsx
Labels: documentation, enhancement, help wanted, data-structures

#11 updated components and bst imp.
  app/data-structures/arrays/page.tsx
  app/data-structures/binary-trees/bst/page.tsx
  app/data-structures/linked-lists/page.tsx
  app/data-structures/queues/page.tsx
  app/data-structures/stacks/page.tsx
  components/data-structures/arrays/Array.ts
  components/data-structures/arrays/Matrix.ts
  components/data-structures/arrays/Tensor.ts
  components/data-structures/binary-trees/BinarySearchTree.tsx
  components/data-structures/linked-lists/DoublyCircularLinkedList.ts
  components/data-structures/linked-lists/DoublyLinkedList.ts
  components/data-structures/linked-lists/SinglyCircularLinkedList.ts
  components/data-structures/linked-lists/SinglyLinkedList.ts
  components/data-structures/queues/Deque.ts
  components/data-structures/queues/PriorityQueue.ts
  components/data-structures/queues/SimpleQueue.ts
  components/data-structures/stacks/Stack.ts
Labels: documentation, enhancement, help wanted, data-structures, URGENT

#12 new avl section imp.
  app/data-structures/binary-trees/avl/page.tsx
  components/data-structures/binary-trees/AVLTree.ts
  components/data-structures/binary-trees/BinarySearchTree.ts
Labels: documentation, enhancement, data-structures, URGENT

#13 new red black tree imp.
  app/data-structures/binary-trees/red-black/page.tsx
  components/data-structures/binary-trees/RedBlackTree.ts
Labels: documentation, enhancement, data-structures, URGENT

#14 new child tree page imp.
  app/data-structures/binary-trees/children/page.tsx
  components/data-structures/binary-trees/DegenerateBinaryTree.ts
  components/data-structures/binary-trees/FullBinaryTree.ts
  components/data-structures/binary-trees/SkewedBinaryTree.ts
Labels: enhancement, help wanted, data-structures

#15 new completion levels trees imp.
  app/data-structures/binary-trees/completion-levels/page.tsx
  components/data-structures/binary-trees/BalancedBinaryTree.tsx
  components/data-structures/binary-trees/CompleteBinaryTree.tsx
  components/data-structures/binary-trees/PerfectBinaryTree.tsx
Labels: documentation, enhancement, good first issue, data-structures

#16 new graph section imp.
  app/data-structures/graphs/page.tsx
  components/data-structures/graphs/AcyclicGraph.ts
  components/data-structures/graphs/CyclicGraph.ts
  components/data-structures/graphs/DirectedGraph.ts
  components/data-structures/graphs/DirectedWeightedGraph.ts
  components/data-structures/graphs/UndirectedGraph.ts
  components/data-structures/graphs/UndirectedWeightedGraph.ts
  components/data-structures/graphs/UnweightedGraph.ts
  components/data-structures/graphs/WeightedGraph.ts
Labels: documentation, enhancement, good first issue, data-structures

#17 new main sections imp.
  app/data-structures/binary-trees/page.tsx
  app/data-structures/graphs/page.tsx
  app/data-structures/page.tsx
  app/page.tsx
  components/Navbar.tsx
  package-lock.json
  package.json
Labels: documentation, enhancement, good first issue, data-structures

#18 Update main sections
  app/data-structures/binary-trees/page.tsx
Labels: documentation, enhancement, help wanted, good first issue, data-structures

#19 mocked chatbot screen imp.
  app/code-assistance/page.tsx
Labels: documentation, enhancement, help wanted, data-structures

#20 integrated chatbot
  .env.sample
  app/code-assistance/page.tsx
  package-lock.json
  package.json
Labels: documentation, enhancement, good first issue, data-structures
